 .nav {
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: center;
    padding: 20px 30px;
    background-color: rgb(225, 221, 221);
 }

.nav-item {
    text-decoration: none;
    font-weight: 400;
    font-size: 25px;
    color: black;

    &.active {
        font-weight: 700;
    }
}